In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\ibrahimsezgin\Downloads\country_vaccination_stats.csv')
df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 NaN  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

In [19]:
df.groupby('country').agg({'daily_vaccinations':'median'}).sort_values(by='daily_vaccinations', ascending=False).head(3)

               daily_vaccinations
country
United States            399093.0
China                    299107.5
India                    182551.5